<div class="review">

    <div class="review-rating" data-score="<%= review.rating %>"></div>
    
    <p><%= review.comment %></p>
    <p><b>by</b> <%= review.user.email %>,
        <%= time_ago_in_words(review.created_at) %> ago</p>

<% if user_signed_in? %>

    <% if review.user_id == current_user.id %>
        <div class="links btn-group">
            <%= link_to "Edit", edit_book_review_path(review.book, review) , class: "btn-custom"%>
            <%= link_to "Delete", book_review_path(review.book, review), method: :delete, 
                data: {confirm: "คุณแน่ใจว่าจะลบความคิดเห็นใช่ไหม? ( Are you sure? )"}, class: "btn-custom" %>
        </div>
    <% end %>
<% end %>

</div>	